<div class="password-generator">
    <h1>Password Generator</h1>
    <div class="generated-password">
      <input type="text" [value]="generatedPassword" readonly>
      <button (click)="copyPassword()">Copy</button>
    </div>
  
    <form [formGroup]="passwordForm" (ngSubmit)="generatePassword()">
      <label>
        Character Length
        <input type="range" formControlName="length" min="4" max="20">
        <span>{{ passwordForm.value.length }}</span>
      </label>
  
      <label>
        <input type="checkbox" formControlName="includeUppercase"> Include Uppercase Letters
      </label>
      <label>
        <input type="checkbox" formControlName="includeLowercase"> Include Lowercase Letters
      </label>
      <label>
        <input type="checkbox" formControlName="includeNumbers"> Include Numbers
      </label>
      <label>
        <input type="checkbox" formControlName="includeSymbols"> Include Symbols
      </label>
  
      <button type="submit">Generate</button>
    </form>
  
    <div class="password-strength">
      Strength: {{ passwordStrength }}
      <div class="strength-indicator">
        <div [class]="passwordStrengthLevels >= 1 ? 'filled' : ''"></div>
        <div [class]="passwordStrengthLevels >= 2 ? 'filled' : ''"></div>
        <div [class]="passwordStrengthLevels >= 3 ? 'filled' : ''"></div>
        <div [class]="passwordStrengthLevels >= 4 ? 'filled' : ''"></div>
      </div>
    </div>
  </div>
  